- page_title '界面设置'
- @content_class = "limit-container-width" unless fluid_layout
= render 'profiles/head'

= form_for @user, url: profile_preferences_path, remote: true, method: :put, html: { class: 'row prepend-top-default js-preferences-form' } do |f|
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      语法高亮主题
    %p
      此设置允许自定义语法显示，
      = succeed '。' do
        = link_to '了解更多', help_page_path('user/profile/preferences', anchor: 'syntax-highlighting-theme'), target: '_blank'
  .col-lg-8.syntax-theme
    - Gitlab::ColorSchemes.each do |scheme|
      = label_tag do
        .preview= image_tag "#{scheme.css_class}-scheme-preview.png"
        = f.radio_button :color_scheme_id, scheme.id
        = scheme.name
  .col-sm-12
    %hr
  .col-lg-4.profile-settings-sidebar#new-navigation
    %h4.prepend-top-0
      新版导航栏
    %p
      此设置允许您打开或关闭新的即将启用的导航概念。
  .col-lg-8.syntax-theme
    .nav-wip
      %p
        新版导航栏目前只是一个正在进行中的概念，目前只能在宽屏幕上使用。 我们正在努力进行一些改进，以进一步完善我们的导航栏。
      %p
        %a{ href: 'https://gitlab.com/gitlab-org/gitlab-ce/issues/32794', target: 'blank' } 了解更多
        即将到来的提升。
    = label_tag do
      .preview= image_tag "old_nav.png"
      %input.js-experiment-feature-toggle{ type: "radio", value: "false", name: "new_nav", checked: !show_new_nav? }
      旧版
    = label_tag do
      .preview= image_tag "new_nav.png"
      %input.js-experiment-feature-toggle{ type: "radio", value: "true", name: "new_nav", checked: show_new_nav? }
      新版
  .col-sm-12
    %hr
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      行为
    %p
      此设置允许自定义系统布局和默认视图的行为，
      = succeed '。' do
        = link_to '了解更多', help_page_path('user/profile/preferences', anchor: 'behavior'), target: '_blank'
  .col-lg-8
    .form-group
      = f.label :layout, class: 'label-light' do
        页面宽度
      = f.select :layout, layout_choices, {}, class: 'form-control'
      .help-block
        选择固定 (最大 1200px) 或自适应 (100%) 页面宽度。
    .form-group
      = f.label :dashboard, class: 'label-light' do
        默认仪表盘
      = f.select :dashboard, dashboard_choices, {}, class: 'form-control'
    .form-group
      = f.label :project_view, class: 'label-light' do
        项目概览
      = f.select :project_view, project_view_choices, {}, class: 'form-control'
      .help-block
        选择访问项目概览时看到的内容。
    .form-group
      = f.submit '保存修改', class: 'btn btn-save'
