- @no_container = true
- page_title "比较"
- if show_new_nav?
  - add_to_breadcrumbs("Repository", project_tree_path(@project))
= render "projects/commits/head"

%div{ class: container_class }
  .sub-header-block
    比较 Git 修订。
    %br
    填写诸如
    %code.ref-name 4eedf23
    这样的提交 SHA 或
    %code.ref-name master
    这种分支/标签名，然后点击比较按钮获取提交列表和代码差异。
    %br
    显示<b>从</b>第一个版本<b>到</b>第二个版本的差异。

  .prepend-top-20
    = render "form"
