- @content_class = "limit-container-width limit-container-width-sm" unless fluid_layout
- breadcrumb_title "Wiki"
- page_title @page.title.capitalize, "Wiki"

.wiki-page-header.has-sidebar-toggle
  %button.btn.btn-default.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')

  .wiki-breadcrumb
    %span= breadcrumb(@page.slug)

  .nav-text
    %h2.wiki-page-title= @page.title.capitalize
    %span.wiki-last-edit-by
      由
      %strong
        #{@page.commit.author.name}
      最后编辑于
      #{time_ago_with_tooltip(@page.commit.authored_date)}

  .nav-controls
    = render 'main_links'

- if @page.historical?
  .warning_message
    这是本页面的旧版本。
    你可以查看 #{link_to "最近修改版本", project_wiki_path(@project, @page)} 或浏览 #{link_to "历史记录", project_wiki_history_path(@project, @page)}.

.wiki-holder.prepend-top-default.append-bottom-default
  .wiki
    = render_wiki_content(@page)

= render 'sidebar'
