- page_title "General"
- @content_class = "limit-container-width" unless fluid_layout
- expanded = Rails.env.test?

= render "projects/settings/head"

.project-edit-container
  %section.settings.general-settings
    .settings-header
      %h4
        常规项目设置
      %button.btn.js-settings-toggle
        = expanded ? 'Collapse' : 'Expand'
      %p
        更新您的项目名称、描述、图标和其他常规设置。
    .settings-content.no-animate{ class: ('expanded' if expanded) }
      .project-edit-errors
      = form_for [@project.namespace.becomes(Namespace), @project], remote: true, html: { multipart: true, class: "edit-project" }, authenticity_token: true do |f|
        %fieldset
          .row
            .form-group.col-md-9
              = f.label :name, class: 'label-light', for: 'project_name_edit' do
                项目名称
              = f.text_field :name, class: "form-control", id: "project_name_edit"

            .form-group.col-md-3
              = f.label :id, class: 'label-light' do
                项目 ID
              = f.text_field :id, class: 'form-control', readonly: true

          .form-group
            = f.label :description, class: 'label-light' do
              项目描述
              %span.light (可选)
            = f.text_area :description, class: "form-control", rows: 3, maxlength: 250

          - unless @project.empty_repo?
            .form-group
              = f.label :default_branch, "默认分支", class: 'label-light'
              = f.select(:default_branch, @project.repository.branch_names, {}, {class: 'select2 select-wide'})
        .form-group
          = f.label :tag_list, "标签", class: 'label-light'
          = f.text_field :tag_list, value: @project.tag_list.sort.join(', '), maxlength: 2000, class: "form-control"
          %p.help-block 用逗号分隔标签。
        %fieldset.features
          %h5.prepend-top-0
            项目图标
          .form-group
            - if @project.avatar?
              .avatar-container.s160
                = project_icon(@project.full_path, alt: '', class: 'avatar project-avatar s160')
            %p.light
              - if @project.avatar_in_git
                项目图标保存在版本库： #{ @project.avatar_in_git }
            %a.choose-btn.btn.js-choose-project-avatar-button
              选择文件...
            %span.file_name.prepend-left-default.js-avatar-filename 没有选择文件
            = f.file_field :avatar, class: "js-project-avatar-input hidden"
            .help-block 文件大小限制为 200KB。
            - if @project.avatar?
              %hr
              = link_to '删除图标', project_avatar_path(@project), data: { confirm: "您确定要删除项目图标？"}, method: :delete, class: "btn btn-remove btn-sm remove-avatar"
        = f.submit '保存修改', class: "btn btn-save"

  %section.settings.sharing-permissions
    .settings-header
      %h4
        共享和权限
      %button.btn.js-settings-toggle
        = expanded ? 'Collapse' : 'Expand'
      %p
        启用或禁用某些项目功能并选择访问级别。
    .settings-content.no-animate{ class: ('expanded' if expanded) }
      = form_for [@project.namespace.becomes(Namespace), @project], remote: true, html: { multipart: true, class: "sharing-permissions-form" }, authenticity_token: true do |f|
        .form_group.sharing-and-permissions
          .row.js-visibility-select
            .col-md-8
              .label-light
                = label_tag :project_visibility, '项目可见性', class: 'label-light', for: :project_visibility_level
                = link_to icon('question-circle'), help_page_path("public_access/public_access")
              %span.help-block
            .col-md-4.visibility-select-container
              = render('projects/visibility_select', model_method: :visibility_level, form: f, selected_level: @project.visibility_level)
          = f.fields_for :project_feature do |feature_fields|
            %fieldset.features
              .row
                .col-md-8.project-feature
                  = feature_fields.label :repository_access_level, "版本库", class: 'label-light'
                  %span.help-block 查看和编辑本项目的文件
                .col-md-4.js-repo-access-level
                  = project_feature_access_select(:repository_access_level)

              .row
                .col-md-8.project-feature.nested
                  = feature_fields.label :merge_requests_access_level, "合并请求", class: 'label-light'
                  %span.help-block 提交更改以在上游合并
                .col-md-4
                  = project_feature_access_select(:merge_requests_access_level)

              .row
                .col-md-8.project-feature.nested
                  = feature_fields.label :builds_access_level, "流水线", class: 'label-light'
                  %span.help-block 构建、测试并部署您的变更
                .col-md-4
                  = project_feature_access_select(:builds_access_level)

              .row
                .col-md-8.project-feature
                  = feature_fields.label :snippets_access_level, "代码片段", class: 'label-light'
                  %span.help-block 共享 git 版本仓库外的代码
                .col-md-4
                  = project_feature_access_select(:snippets_access_level)

              .row
                .col-md-8.project-feature
                  = feature_fields.label :issues_access_level, "问题", class: 'label-light'
                  %span.help-block 轻量级问题跟踪系统
                .col-md-4
                  = project_feature_access_select(:issues_access_level)

              .row
                .col-md-8.project-feature
                  = feature_fields.label :wiki_access_level, "维基", class: 'label-light'
                  %span.help-block 项目文档页面
                .col-md-4
                  = project_feature_access_select(:wiki_access_level)
        .form-group
          = render 'shared/allow_request_access', form: f
        - if Gitlab.config.lfs.enabled && current_user.admin?
          .row.js-lfs-enabled.form-group.sharing-and-permissions
            .col-md-8
              = f.label :lfs_enabled, 'Git 大文件存储(LFS)', class: 'label-light'
              = link_to icon('question-circle'), help_page_path('workflow/lfs/manage_large_binaries_with_git_lfs')
              %span.help-block 管理大型文件，如音频，视频和图形文件。
            .col-md-4
              .select-wrapper
                = f.select :lfs_enabled, [%w(Enabled true), %w(Disabled false)], {}, selected: @project.lfs_enabled?, class: 'pull-right form-control project-repo-select select-control', data: { field: 'lfs_enabled' }
                = icon('chevron-down')
        - if Gitlab.config.registry.enabled
          .form-group.js-container-registry{ style: ("display: none;" if @project.project_feature.send(:repository_access_level) == 0) }
            .checkbox
              = f.label :container_registry_enabled do
                = f.check_box :container_registry_enabled
                %strong 容器注册表
                %br
                %span.descr 开启此项目的容器注册表
                = link_to icon('question-circle'), help_page_path('user/project/container_registry'), target: '_blank'
        = f.submit 'Save changes', class: "btn btn-save"


  %section.settings.merge-requests-feature{ style: ("display: none;" if @project.project_feature.send(:merge_requests_access_level) == 0) }
    .settings-header
      %h4
        合并请求设置
      %button.btn.js-settings-toggle
        = expanded ? 'Collapse' : 'Expand'
      %p
        自定义您的合并请求限制。
    .settings-content.no-animate{ class: ('expanded' if expanded) }
      = form_for [@project.namespace.becomes(Namespace), @project], remote: true, html: { multipart: true, class: "merge-request-settings-form" }, authenticity_token: true do |f|
        = render 'merge_request_settings', form: f
        = f.submit '保存修改', class: "btn btn-save"

  %section.settings
    .settings-header
      %h4
        导出项目
      %button.btn.js-settings-toggle
        = expanded ? 'Collapse' : 'Expand'
      %p
        将此项目及其所有相关数据导出并移动到新的 GitLab 实例。导出完成后，您可以在“新建项目”页面导入文项目文件。
    .settings-content.no-animate{ class: ('expanded' if expanded) }
      .bs-callout.bs-callout-info
        %p.append-bottom-0
          %p
            将导出以下内容：
          %ul
            %li 项目 和 wiki 版本库
            %li 项目上传的附件
            %li 包含 Web 钩子和服务的项目设置
            %li 问题及讨论、 包含对比文件和讨论的合并请求、标记、里程碑、代码片段及其它的项目内容
          %p
            将不导出以下内容：
          %ul
            %li 作业跟踪及生成工件
            %li LFS 对象
            %li 容器注册表镜像文件
            %li CI 变量
            %li 任何已加密的令牌
      %p
        项目导出完毕后，您将收到一封包含下载链接的邮件通知。
      - if @project.export_project_path
        = link_to '下载导出',  download_export_project_path(@project),
                rel: 'nofollow', download: '', method: :get, class: "btn btn-default"
        = link_to '创建新的导出',  generate_new_export_project_path(@project),
                method: :post, class: "btn btn-default"
      - else
        = link_to '导出项目', export_project_path(@project),
                method: :post, class: "btn btn-default"

  %section.settings.advanced-settings
    .settings-header
      %h4
        高级设置
      %button.btn.js-settings-toggle
        = expanded ? 'Collapse' : 'Expand'
      %p
        执行高级选项，如管理、导出、归档、重命名、转移或删除项目。
    .settings-content.no-animate{ class: ('expanded' if expanded) }
      .sub-section
        %h4 维护
        %p
          执行当前仓库的一些维护任务，诸如压缩文件修订版本和删除无用对象等。
        = link_to '维护', housekeeping_project_path(@project),
            method: :post, class: "btn btn-default"
      - if can? current_user, :archive_project, @project
        .sub-section
          %h4.warning-title
            - if @project.archived?
              激活项目
            - else
              归档项目
          - if @project.archived?
            %p
              激活项目将恢复项目版本仓库至可提交状态。
              %strong 项目一旦激活后，将可以被搜索到并显示在仪表盘中。
            = link_to '激活项目', unarchive_project_path(@project),
                data: { confirm: "您确定要激活本项目么？\n激活项目后可以重新提交版本仓库修改。" },
                method: :post, class: "btn btn-success"
          - else
            %p
              归档项目将标识其版本仓库为只读。. 同时将在仪表盘隐藏并且不能搜索到。
              %strong 归档后项目将不能被提交！
            = link_to '归档项目', archive_project_path(@project),
                data: { confirm: "您确定要归档本项目么？\n归档后的项目将不能被提交。" },
                method: :post, class: "btn btn-warning"
      .sub-section.rename-respository
        %h4.warning-title
          重命名版本库
        = render 'projects/errors'
        = form_for([@project.namespace.becomes(Namespace), @project]) do |f|
          .form-group.project_name_holder
            = f.label :name, class: 'label-light' do
              项目名称
            .form-group
              = f.text_field :name, class: "form-control"
          .form-group
            = f.label :path, class: 'label-light' do
              %span 路径
            .form-group
              .input-group
                .input-group-addon
                  #{URI.join(root_url, @project.namespace.full_path)}/
                = f.text_field :path, class: 'form-control'
            %ul
              %li 请注意：更改项目的命名空间可能有意想不到的副作用。
              %li 您需要更新本地版本仓库指向新位置。
              - if @project.deployment_services.any?
                %li 您的部署服务将被破坏，您将需要在重命名后手动修复服务。
          = f.submit '重命名项目', class: "btn btn-warning"
      - if can?(current_user, :change_namespace, @project)
        .sub-section
          %h4.danger-title
            转移项目
          = form_for([@project.namespace.becomes(Namespace), @project], url: transfer_project_path(@project), method: :put, remote: true, html: { class: 'js-project-transfer-form' } ) do |f|
            .form-group
              = label_tag :new_namespace_id, nil, class: 'label-light' do
                %span  选择一个新的命名空间
              .form-group
                = select_tag :new_namespace_id, namespaces_options(nil), include_blank: true, class: 'select2'
              %ul
                %li 请注意：更改项目的命名空间可能有意想不到的副作用。
                %li 只能将项目转移到能管理到的命名空间。
                %li 您需要更新本地版本仓库指向新位置。
                %li 项目转移到群组时其可见度等级将自动匹配新的命名空间规则。
            = f.submit '转移项目', class: "btn btn-remove js-confirm-danger", data: { "confirm-danger-message" => transfer_project_message(@project) }
      - if @project.forked? && can?(current_user, :remove_fork_project, @project)
        .sub-section
          %h4.danger-title
            删除派生关系
          %p
            将删除与源项目
            = link_to @project.forked_from_project.name_with_namespace, project_path(@project.forked_from_project)
            的派生关系。
          = form_for([@project.namespace.becomes(Namespace), @project], url: remove_fork_project_path(@project), method: :delete, remote: true, html: { class: 'transfer-project' }) do |f|
            %p
              %strong 派生关系一旦删除，将无法恢复；也将无法再提交合并请求到源项目。
            = button_to '删除派生关系', '#', class: "btn btn-remove js-confirm-danger", data: { "confirm-danger-message" => remove_fork_project_message(@project) }
      - if can?(current_user, :remove_project, @project)
        .sub-section
          %h4.danger-title
            删除项目
          %p
            删除项目将删除其版本仓库及所有相关资源，包括问题，合并请求等。
          = form_tag(project_path(@project), method: :delete) do
            %p
              %strong 项目删除后将无法恢复！
            = button_to '删除项目', '#', class: "btn btn-remove js-confirm-danger", data: { "confirm-danger-message" => remove_project_message(@project) }

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      正在保存项目。
    %p 请稍等片刻，本页面会在保存完毕后自动刷新。

= render 'shared/confirm_modal', phrase: @project.path
